@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:wght@100&family=Lily+Script+One&display=swap');



* {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .App {
    text-align: center;
  }
  
  .header {
    font-family: 'Lily Script One', cursive;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .header h1 {
    font-size: 2rem;
    text-align: left;
    padding-left: 5%;
    color: black;
    text-shadow: -2px 2px gray ;
  }
  
  .body {
    background: linear-gradient(0deg, rgba(253,214,255,1) 6%, rgba(214,255,250,1) 92%);
  }
  
  .prompt {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  label {
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  textarea {
    font-family: 'Chivo Mono', monospace;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }

  .button {
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }
  
  .response {
    font-family: 'Chivo Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    height: fit-content;
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  